*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

html {
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
}

body{
  background-color: rgb(32, 37, 40);
  background-color: rgb(245, 245, 245);
}

.dark{
  color: rgb(245, 245, 245);
  /* background-color: rgb(25, 25, 25); */
  background-color: #00090e;
}

.center{
  max-width: 1280px;
  width: 100%;
  padding: 0 2%;
}

.Phrase.dark{
  background-color: #051a28 !important;
}

.line.dark{
  /* border-color: white !important; */
  background-color: white !important;
}